NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAFAP2vtLGrz52Yln9qzB8Z5JiuLdEvoqg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skillcircle-4d1f4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skillcircle-4d1f4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skillcircle-4d1f4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=347548050095
NEXT_PUBLIC_FIREBASE_APP_ID=1:347548050095:web:f4e9230271fde19ecfea5a
