PORT=4000
FRONTEND_URL=http://localhost:4000
MONGODB_URI=mongodb+srv://Vidhyaaa:17082006@cluster0.fkexmo5.mongodb.net/SkillCircle?appName=Cluster0
FIREBASE_PROJECT_ID=skillcircle-4d1f4
FIREBASE_API_KEY=AIzaSyAFAP2vtLGrz52Yln9qzB8Z5JiuLdEvoqg
FIREBASE_AUTH_DOMAIN=skillcircle-4d1f4.firebaseapp.com
FIREBASE_STORAGE_BUCKET=skillcircle-4d1f4.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=347548050095
FIREBASE_APP_ID=1:347548050095:web:f4e9230271fde19ecfea5a
FIREBASE_CLIENT_EMAIL=your_firebase_admin_client_email
FIREBASE_PRIVATE_KEY=""
CLOUDINARY_CLOUD_NAME=mxzuf0zs
CLOUDINARY_API_KEY=169619928253735
CLOUDINARY_API_SECRET=JKI5ZdRSYYETYxCk4Cy17ZYIjYY
GROQ_API_KEY=your_groq_api_key
